* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  background-color: #f0f0f0;
}

nav {
  background-color: #333333;
  padding: 8px 12px;
  a {
    color: #f0f0f0;
    font-size: 18px;
  }
}

header {
  padding: 1em 12px;
}

main {
  padding: 0px 12px;
  .itemLevel {
    width: 100%;
    max-width: 50em;
    word-wrap: break-word;
    margin-bottom: 12px;
  }
  .itemLevel2 {
  }
  .itemLevel3 {
    padding-left: 72px;
    @media screen and (max-width: 720px) {
      padding-left: 36px;
      max-width: calc(100% - 36px);
    }
  }
  .itemLevel4 {
    padding-left: 132px;
    @media screen and (max-width: 720px) {
      padding-left: 60px;
      max-width: calc(100% - 60px);
    }
  }
  .urlTitle {
    font-size: 1.75em;
    padding-bottom: 2px;
  }
  .desc {
    font-size: 16px;
    color: rgb(255, 52, 52);
    margin-bottom: 4px;
  }
  .notes {
    font-size: 22px;
    line-height: 120%;
  }
}

footer {
  background-color: #333333;
  padding: 8px 12px;
  a {
    color: #f0f0f0;
    font-size: 18px;
    margin-right: 18px;
  }
}
