* {
  box-sizing: border-box;
  // font-weights 500, 600 available.
  font-family: neue-haas-grotesk-display, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333333;
  padding: 8px 12px;
  @media only screen and (min-width: 600px) {
    width: 100%;
    margin: 0 auto;
  }
  a {
    color: #f2f2f7;
    font-size: 16px;
    margin-right: 12px;
    width: 100%;
  }
}

h1 {
  padding: 18px 12px;
  font-size: 28px;
  font-weight: 600;
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  color: #007aff;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 5px;
  padding-top: 6px;
}
h3 {
  color: #1c1c1e;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
}
p {
  color: #2a2a2a;
  font-size: 17px;
  line-height: 22px;
  margin-bottom: 12px;
  letter-spacing: 0.085px;
}

main {
  margin: 0 auto;
  padding: 0 12px;
  max-width: 600px;
}

section > a {
  text-decoration: none;
}
